<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easypan.mappers.UserInfoMapper">

	<!--实体映射-->
	<resultMap id="base_result_map" type="com.easypan.entity.po.UserInfo">
		<!--用户ID-->
		<id column="user_id" property="userId"  />
		<!--用户名-->
		<result column="user_name" property="userName"  />
		<!---->
		<result column="phone" property="phone"  />
		<!--密码-->
		<result column="password" property="password"  />
		<!--出生年月-->
		<result column="birthday" property="birthday"  />
		<!--性别 0:女 1:男-->
		<result column="sex" property="sex"  />
		<!--职位0:程序员 1:测试  2:产品经理-->
		<result column="position" property="position"  />
		<!--角色 0:普通用户 1:组长 2:经理 3:管理员 可多选-->
		<result column="roles" property="roles"  />
		<!--创建时间-->
		<result column="create_time" property="createTime"  />
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="base_column_list">
		 user_id,user_name,phone,password,birthday,
		 sex,position,roles,create_time
	</sql>

	<sql id="base_condition_filed">
		<if test="query.userId != null">
			 and  user_id = #{query.userId}
		</if>
		<if test="query.userName != null and query.userName!=''">
			 and  user_name = #{query.userName}
		</if>
		<if test="query.phone != null and query.phone!=''">
			 and  phone = #{query.phone}
		</if>
		<if test="query.password != null and query.password!=''">
			 and  password = #{query.password}
		</if>
		<if test="query.birthday != null and query.birthday!=''">
			 <![CDATA[ and  birthday=str_to_date(#{query.birthday}, '%Y-%m-%d') ]]>
		</if>
		<if test="query.sex != null">
			 and  sex = #{query.sex}
		</if>
		<if test="query.position != null">
			 and  position = #{query.position}
		</if>
		<if test="query.roles != null and query.roles!=''">
			 and  roles = #{query.roles}
		</if>
		<if test="query.createTime != null and query.createTime!=''">
			 <![CDATA[ and  create_time=str_to_date(#{query.createTime}, '%Y-%m-%d') ]]>
		</if>
	</sql>

	<!-- 通用查询条件列-->
	<sql id="query_condition">
		<where>
			<include refid="base_condition_filed" />
			<if test="query.userNameFuzzy!= null  and query.userNameFuzzy!=''">
				 and  user_name like concat('%', #{query.userNameFuzzy}, '%')
			</if>
			<if test="query.phoneFuzzy!= null  and query.phoneFuzzy!=''">
				 and  phone like concat('%', #{query.phoneFuzzy}, '%')
			</if>
			<if test="query.passwordFuzzy!= null  and query.passwordFuzzy!=''">
				 and  password like concat('%', #{query.passwordFuzzy}, '%')
			</if>
			<if test="query.birthdayStart!= null and query.birthdayStart!=''">
				 <![CDATA[ and  birthday>=str_to_date(#{query.birthdayStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.birthdayEnd!= null and query.birthdayEnd!=''">
				 <![CDATA[ and  birthday< date_sub(str_to_date(#{query.birthdayEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
			<if test="query.rolesFuzzy!= null  and query.rolesFuzzy!=''">
				 and  roles like concat('%', #{query.rolesFuzzy}, '%')
			</if>
			<if test="query.createTimeStart!= null and query.createTimeStart!=''">
				 <![CDATA[ and  create_time>=str_to_date(#{query.createTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.createTimeEnd!= null and query.createTimeEnd!=''">
				 <![CDATA[ and  create_time< date_sub(str_to_date(#{query.createTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
		</where>
	</sql>

	<!-- 查询集合-->
	<select id="selectList" resultMap="base_result_map" >
		 SELECT <include refid="base_column_list" /> FROM user_info <include refid="query_condition" />
		 <if test="query.orderBy!=null">
			 order by ${query.orderBy}
		 </if>
		 <if test="query.simplePage!=null">
			 limit #{query.simplePage.start},#{query.simplePage.end}
		 </if>
	</select>

	<!-- 查询数量-->
	<select id="selectCount" resultType="java.lang.Integer" >
		 SELECT count(1) FROM user_info <include refid="query_condition" />
	</select>

	<!-- 插入 （匹配有值的字段）-->
	<insert id="insert" parameterType="com.easypan.entity.po.UserInfo">
		<selectKey keyProperty="bean.userId" resultType="Integer" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		 INSERT INTO user_info
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="bean.userName != null">
				 user_name,
			</if>
			<if test="bean.phone != null">
				 phone,
			</if>
			<if test="bean.password != null">
				 password,
			</if>
			<if test="bean.birthday != null">
				 birthday,
			</if>
			<if test="bean.sex != null">
				 sex,
			</if>
			<if test="bean.position != null">
				 position,
			</if>
			<if test="bean.roles != null">
				 roles,
			</if>
			<if test="bean.createTime != null">
				 create_time,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="bean.userName!=null">
				 #{bean.userName},
			</if>
			<if test="bean.phone!=null">
				 #{bean.phone},
			</if>
			<if test="bean.password!=null">
				 #{bean.password},
			</if>
			<if test="bean.birthday!=null">
				 #{bean.birthday},
			</if>
			<if test="bean.sex!=null">
				 #{bean.sex},
			</if>
			<if test="bean.position!=null">
				 #{bean.position},
			</if>
			<if test="bean.roles!=null">
				 #{bean.roles},
			</if>
			<if test="bean.createTime!=null">
				 #{bean.createTime},
			</if>
		 </trim>
	</insert>

	<!-- 插入或者更新 （匹配有值的字段）-->
	<insert id="insertOrUpdate" parameterType="com.easypan.entity.po.UserInfo">
		 INSERT INTO user_info
		 <trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.userId != null">
				 user_id,
			</if>
			<if test="bean.userName != null">
				 user_name,
			</if>
			<if test="bean.phone != null">
				 phone,
			</if>
			<if test="bean.password != null">
				 password,
			</if>
			<if test="bean.birthday != null">
				 birthday,
			</if>
			<if test="bean.sex != null">
				 sex,
			</if>
			<if test="bean.position != null">
				 position,
			</if>
			<if test="bean.roles != null">
				 roles,
			</if>
			<if test="bean.createTime != null">
				 create_time,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.userId!=null">
				 #{bean.userId},
			</if>
			<if test="bean.userName!=null">
				 #{bean.userName},
			</if>
			<if test="bean.phone!=null">
				 #{bean.phone},
			</if>
			<if test="bean.password!=null">
				 #{bean.password},
			</if>
			<if test="bean.birthday!=null">
				 #{bean.birthday},
			</if>
			<if test="bean.sex!=null">
				 #{bean.sex},
			</if>
			<if test="bean.position!=null">
				 #{bean.position},
			</if>
			<if test="bean.roles!=null">
				 #{bean.roles},
			</if>
			<if test="bean.createTime!=null">
				 #{bean.createTime},
			</if>
		 </trim>
		 on DUPLICATE key update 
		 <trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.userName!=null">
				 user_name = VALUES(user_name),
			</if>
			<if test="bean.phone!=null">
				 phone = VALUES(phone),
			</if>
			<if test="bean.password!=null">
				 password = VALUES(password),
			</if>
			<if test="bean.birthday!=null">
				 birthday = VALUES(birthday),
			</if>
			<if test="bean.sex!=null">
				 sex = VALUES(sex),
			</if>
			<if test="bean.position!=null">
				 position = VALUES(position),
			</if>
			<if test="bean.roles!=null">
				 roles = VALUES(roles),
			</if>
			<if test="bean.createTime!=null">
				 create_time = VALUES(create_time),
			</if>
		 </trim>
	</insert>

	<!-- 添加 （批量插入）-->
	<insert id="insertBatch" parameterType="com.easypan.entity.po.UserInfo" useGeneratedKeys="true" keyProperty="userId">
		 INSERT INTO user_info(
			 user_name,
			 phone,
			 password,
			 birthday,
			 sex,
			 position,
			 roles,
			 create_time
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.userName},
				 #{item.phone},
				 #{item.password},
				 #{item.birthday},
				 #{item.sex},
				 #{item.position},
				 #{item.roles},
				 #{item.createTime}
			 )
		 </foreach>
	</insert>

	<!-- 批量新增修改 （批量插入）-->
	<insert id="insertOrUpdateBatch" parameterType="com.easypan.entity.po.UserInfo">
		 INSERT INTO user_info(
			 user_name,
			 phone,
			 password,
			 birthday,
			 sex,
			 position,
			 roles,
			 create_time
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.userName},
				 #{item.phone},
				 #{item.password},
				 #{item.birthday},
				 #{item.sex},
				 #{item.position},
				 #{item.roles},
				 #{item.createTime}
			 )
		 </foreach>
			on DUPLICATE key update 
			user_name = VALUES(user_name),
			phone = VALUES(phone),
			password = VALUES(password),
			birthday = VALUES(birthday),
			sex = VALUES(sex),
			position = VALUES(position),
			roles = VALUES(roles),
			create_time = VALUES(create_time)
	</insert>

	<!--多条件修改-->
	<update id="updateByParam" parameterType="com.easypan.entity.query.UserInfoQuery">
		 UPDATE user_info
 		 <set> 
			<if test="bean.userName != null">
				 user_name = #{bean.userName},
			</if>
			<if test="bean.phone != null">
				 phone = #{bean.phone},
			</if>
			<if test="bean.password != null">
				 password = #{bean.password},
			</if>
			<if test="bean.birthday != null">
				 birthday = #{bean.birthday},
			</if>
			<if test="bean.sex != null">
				 sex = #{bean.sex},
			</if>
			<if test="bean.position != null">
				 position = #{bean.position},
			</if>
			<if test="bean.roles != null">
				 roles = #{bean.roles},
			</if>
			<if test="bean.createTime != null">
				 create_time = #{bean.createTime},
			</if>
 		 </set>
 		 <include refid="query_condition" />
	</update>

	<!--多条件删除-->
	<delete id="deleteByParam">
		 delete from user_info
 		 <include refid="query_condition" />
	</delete>

	<!-- 根据UserId修改-->
	<update id="updateByUserId" parameterType="com.easypan.entity.po.UserInfo">
		 UPDATE user_info
 		 <set> 
			<if test="bean.userName != null">
				 user_name = #{bean.userName},
			</if>
			<if test="bean.phone != null">
				 phone = #{bean.phone},
			</if>
			<if test="bean.password != null">
				 password = #{bean.password},
			</if>
			<if test="bean.birthday != null">
				 birthday = #{bean.birthday},
			</if>
			<if test="bean.sex != null">
				 sex = #{bean.sex},
			</if>
			<if test="bean.position != null">
				 position = #{bean.position},
			</if>
			<if test="bean.roles != null">
				 roles = #{bean.roles},
			</if>
			<if test="bean.createTime != null">
				 create_time = #{bean.createTime},
			</if>
 		 </set>
 		 where user_id=#{userId}
	</update>

	<!-- 根据UserId删除-->
	<delete id="deleteByUserId">
		delete from user_info where user_id=#{userId}
	</delete>

	<!-- 根据PrimaryKey获取对象-->
	<select id="selectByUserId" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from user_info where user_id=#{userId}
	</select>

</mapper>